@model  Art_fundingV0.ViewModels.CreerArtisteViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreerCompte</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
        <ul>
            <li>
                @Html.LabelFor(m => m.utilisateurartiste.artiste.nom)
                @Html.TextBoxFor(m => m.utilisateurartiste.artiste.nom)
                @Html.ValidationMessageFor(m => m.utilisateurartiste.artiste.nom)

                @Html.LabelFor(m => m.utilisateurartiste.artiste.prenom)
                @Html.TextBoxFor(m => m.utilisateurartiste.artiste.prenom)
                @Html.ValidationMessageFor(m => m.utilisateurartiste.artiste.prenom)
            </li>
            <li>
                @Html.LabelFor(m => m.utilisateurartiste.artiste.date_de_naissance)
                @Html.TextBoxFor(m => m.utilisateurartiste.artiste.date_de_naissance)
                @Html.ValidationMessageFor(m => m.utilisateurartiste.artiste.date_de_naissance)

                @Html.LabelFor(m => m.utilisateurartiste.artiste.adresse)
                @Html.TextBoxFor(m => m.utilisateurartiste.artiste.adresse)
                @Html.ValidationMessageFor(m => m.utilisateurartiste.artiste.adresse)
            </li>
            <li>
                @Html.LabelFor(m => m.utilisateurartiste.artiste.code_postale)
                @Html.TextBoxFor(m => m.utilisateurartiste.artiste.code_postale)
                @Html.ValidationMessageFor(m => m.utilisateurartiste.artiste.code_postale)

                @Html.LabelFor(m => m.utilisateurartiste.artiste.ville)
                @Html.TextBoxFor(m => m.utilisateurartiste.artiste.ville)
                @Html.ValidationMessageFor(m => m.utilisateurartiste.artiste.ville)
            </li>
            <li>
                <p>
                    @Html.LabelFor(m => m.utilisateurartiste.artiste.pays)
                    @Html.TextBoxFor(m => m.utilisateurartiste.artiste.pays)
                    @Html.ValidationMessageFor(m => m.utilisateurartiste.artiste.pays)
                </p>
                @Html.LabelFor(m => m.utilisateurartiste.artiste.numero)
                @Html.TextBoxFor(m => m.utilisateurartiste.artiste.numero)
                @Html.ValidationMessageFor(m => m.utilisateurartiste.artiste.numero)

                @Html.LabelFor(m => m.utilisateurartiste.artiste.description)
                @Html.TextBoxFor(m => m.utilisateurartiste.artiste.description)
                @Html.ValidationMessageFor(m => m.utilisateurartiste.artiste.description)

                @Html.LabelFor(m => m.utilisateurartiste.artiste.Disponibilite)
                @Html.TextBoxFor(m => m.utilisateurartiste.artiste.Disponibilite)
                @Html.ValidationMessageFor(m => m.utilisateurartiste.artiste.Disponibilite)
            </li>
            <li>
                @Html.LabelFor(m => m.utilisateurartiste.mailUA)
                @Html.TextBoxFor(m => m.utilisateurartiste.mailUA)
                @Html.ValidationMessageFor(m => m.utilisateurartiste.mailUA)

                @Html.LabelFor(m => m.utilisateurartiste.mot_de_passe)
                @Html.TextBoxFor(m => m.utilisateurartiste.mot_de_passe)
                @Html.ValidationMessageFor(m => m.utilisateurartiste.mot_de_passe)
            </li>
            <li>
                @* @Html.LabelFor(m => m.utilisateurartiste.artiste.ecole.idecole)
        @Html.TextBoxFor(m => m.utilisateurartiste.artiste.ecole.idecole)
        @Html.ValidationMessageFor(m => m.utilisateurartiste.artiste.ecole.idecole)
        @Html.ListBoxFor(m => m.utilisateurartiste.artiste.ecole.nom)*@

                @Html.LabelFor(m => m.SelectedEcoleIds)
                @Html.ListBoxFor(model => model.SelectedEcoleIds, Model.EcoleList)
            </li>

        </ul>
            <input name="envoyer" type="submit">
        }



    </div>
</body>
</html>
