@model  Art_fundingV0.ViewModels.CreerArtisteViewModel
@{
    Layout = "~/Views/Shared/LayoutAF.cshtml";
}



<div>
    @using (Html.BeginForm())
    {
        <div>
            <div class="container-fluid" style="margin-bottom: 3em;">
                <div class="row" style="margin-top: 24em;">

                    <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                        @Html.LabelFor(m => m.utilisateurartiste.artiste.nom)
                    </div>

                    <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                        @Html.TextBoxFor(m => m.utilisateurartiste.artiste.nom)
                    </div>

                    <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                        @Html.ValidationMessageFor(m => m.utilisateurartiste.artiste.nom)
                    </div>

                    <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                        @Html.LabelFor(m => m.utilisateurartiste.artiste.prenom)
                                  
                    </div>

                    <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                        @Html.TextBoxFor(m => m.utilisateurartiste.artiste.prenom)
                    </div>

                    <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                        @Html.ValidationMessageFor(m => m.utilisateurartiste.artiste.prenom)
                    </div>

                    <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                        @Html.LabelFor(m => m.utilisateurartiste.artiste.date_de_naissance)
                    </div>

                    <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                        @Html.TextBoxFor(m => m.utilisateurartiste.artiste.date_de_naissance)
                    </div>
                </div>
            </div>

            <div class="container-fluid" style="margin-bottom: 3em;">
                <div class="row">
                    <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                        @Html.ValidationMessageFor(m => m.utilisateurartiste.artiste.date_de_naissance)
                    </div>

                    <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                        @Html.LabelFor(m => m.utilisateurartiste.artiste.adresse)
                    </div>

                    <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                        @Html.TextBoxFor(m => m.utilisateurartiste.artiste.adresse)
                    </div>

                    <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                        @Html.ValidationMessageFor(m => m.utilisateurartiste.artiste.adresse)
                    </div>

                    <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                        @Html.LabelFor(m => m.utilisateurartiste.artiste.code_postale)
                     </div>

                    <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                        @Html.TextBoxFor(m => m.utilisateurartiste.artiste.code_postale)
                    </div>
                </div>
            </div>

            <div class="container-fluid" style="margin-bottom: 3em;">
                <div class="row">
                    <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                        @Html.ValidationMessageFor(m => m.utilisateurartiste.artiste.code_postale)
                    </div>

                    <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                        @Html.LabelFor(m => m.utilisateurartiste.artiste.ville)
                    </div>

                    <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                        @Html.TextBoxFor(m => m.utilisateurartiste.artiste.ville)
                    </div>

                    <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                        @Html.ValidationMessageFor(m => m.utilisateurartiste.artiste.ville)
                    </div>

                    <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                        @Html.LabelFor(m => m.utilisateurartiste.artiste.pays)
                    </div>

                    <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                        @Html.TextBoxFor(m => m.utilisateurartiste.artiste.pays)
                    </div>
                </div>
            </div>

            <div class="container-fluid" style="margin-bottom: 3em;">
                <div class="row">
                    <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                        @Html.ValidationMessageFor(m => m.utilisateurartiste.artiste.pays)
                    </div>

                    <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                        @Html.LabelFor(m => m.utilisateurartiste.artiste.numero)
                    </div>

                    <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                        @Html.TextBoxFor(m => m.utilisateurartiste.artiste.numero)
                    </div>

                    <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                        @Html.ValidationMessageFor(m => m.utilisateurartiste.artiste.numero)
                    </div>

                    <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                        @Html.LabelFor(m => m.utilisateurartiste.artiste.description)
                    </div>

                    <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                        @Html.TextBoxFor(m => m.utilisateurartiste.artiste.description)
                    </div>
                </div>

                <div class="container-fluid" style="margin-bottom: 3em;">
                    <div class="row">
                        <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                            @Html.ValidationMessageFor(m => m.utilisateurartiste.artiste.description)
                        </div>

                        <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                            @Html.LabelFor(m => m.utilisateurartiste.artiste.Disponibilite)
                        </div>

                        <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                            @Html.TextBoxFor(m => m.utilisateurartiste.artiste.Disponibilite)
                        </div>

                        <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                            @Html.ValidationMessageFor(m => m.utilisateurartiste.artiste.Disponibilite)
                        </div>



                        <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                            @Html.LabelFor(m => m.utilisateurartiste.mailUA)
                        </div>

                        <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                            @Html.TextBoxFor(m => m.utilisateurartiste.mailUA)
                        </div>

                        <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                            @Html.ValidationMessageFor(m => m.utilisateurartiste.mailUA)
                        </div>

                        <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                            @Html.LabelFor(m => m.utilisateurartiste.mot_de_passe)
                        </div>

                        <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                            @Html.TextBoxFor(m => m.utilisateurartiste.mot_de_passe)
                        </div>

                        <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                            @Html.ValidationMessageFor(m => m.utilisateurartiste.mot_de_passe)
                        </div>
                        @Html.LabelFor(m => m.SelectedEcoleIds)
                        @Html.ListBoxFor(model => model.SelectedEcoleIds, Model.EcoleList)

                        @Html.LabelFor(m => m.SelectedCategorieIds)
                        @Html.ListBoxFor(model => model.SelectedCategorieIds, Model.CategorieList)

                    </div>

                    <div>
                        <button class="btn btn-info" id="etapesuivante">Passez à l'étape suivante</button>
                    </div>

                 </div>
                 <input name="envoyer" type="submit">
            </div>
        </div>
        }
</div>





