@model Art_fundingV0.ViewModels.ArtistePhotosViewModel

@{
    Layout = "~/Views/Shared/LayoutChargerDocsArtiste.cshtml";
}


<div class="container" style="margin-right: 5%;"> 

    <script language="javascript">
    function add() {
        var size = jQuery("[name='filesToUpload']").length + @Model.photoDejaEnvoyees;
        if (size < 10) {
            input = jQuery('<input name="filesToUpload" type="file"><br />');
            jQuery("#divParent").append(input);
        } else {
            alert("Vous ne pouvez pas enregistrer plus de 10 photos !!");
        }
    }

    </script>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


    @using (Html.BeginForm("remplirphoto", "UserArtiste", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal mt-5">
            <h4>Je sélectionne mes meilleures photographies permettant de mettre en valeur mon Art.</h4>
            <h4>J'ai la possibilité de charger de 3 à 10 photographies</h4>
            
            @if (@Model.photoDejaEnvoyees > 0)
            {
                <span>Vous avez déjà enregistré @Model.photoDejaEnvoyees photos</span><br /><br />
            }
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">

                <div id="divParent" class="col-md-10">
                    <input name="filesToUpload" type="file" style="font-size: 22px;"><br />
                    <input name="filesToUpload" type="file" style="font-size: 22px;"><br />
                    <input name="filesToUpload" type="file" style="font-size: 22px;"><br />


                </div><br />
                <button class="btn btn-warning" style="font-size: 22px;"><a href="#" onclick="add()">+</a></button>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button class="btn btn-success" type="submit" style="font-size: 22px;">Importer</button> 
                </div>
            </div>
        </div>
    }

    <div>
        <button class="btn btn-danger" style="font-size: 22px;"> @Html.ActionLink("Back to List", "Index") </button>
    </div>

</div>