@model Art_fundingV0.Models.utilisateurentreprise
@{
    Layout = "~/Views/Shared/LayoutCreerCompteEntreprise.cshtml";
}
<div class="container-fluid" style="margin-top: 30%;">
    @using (Html.BeginForm())
    {
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="text-align: center !important; color: #FFC107; font-size: 22px;">
                        Quelle est votre société ?
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="row accordion-body">
                        <div class="col" style="text-align: center; color: white; font-size: 22px;">
                            @Html.LabelFor(m => m.entreprise.SIRET)
                            @Html.TextBoxFor(m => m.entreprise.SIRET)
                            @Html.ValidationMessageFor(m => m.entreprise.SIRET)
                        </div>
                        <div class="col" style="text-align: center; color: white; font-size: 22px;">
                            @Html.LabelFor(m => m.entreprise.denomination_Commerciale)
                            @Html.TextBoxFor(m => m.entreprise.denomination_Commerciale)
                            @Html.ValidationMessageFor(m => m.entreprise.denomination_Commerciale)
                        </div>
                        <div class="col" style="text-align: center; color: white; font-size: 22px;">
                            @Html.LabelFor(m => m.entreprise.raison_Sociale)
                            @Html.TextBoxFor(m => m.entreprise.raison_Sociale)
                            @Html.ValidationMessageFor(m => m.entreprise.raison_Sociale)
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="text-align: center; color: #FFC107; font-size: 22px;">
                        Notre interlocuteur principal.
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="row accordion-body">
                        <div class="col" style="text-align: center; color: white; font-size: 22px;">
                            @Html.LabelFor(m => m.entreprise.fonction_au_sein_de_l_entreprise)
                            @Html.TextBoxFor(m => m.entreprise.fonction_au_sein_de_l_entreprise)
                            @Html.ValidationMessageFor(m => m.entreprise.fonction_au_sein_de_l_entreprise)
                        </div>
                        <div class="col" style="text-align: center; color: white; font-size: 22px;">
                            @Html.LabelFor(m => m.entreprise.nom_de_l_ayant_droit)
                            @Html.TextBoxFor(m => m.entreprise.nom_de_l_ayant_droit)
                            @Html.ValidationMessageFor(m => m.entreprise.nom_de_l_ayant_droit)
                        </div>
                        <div class="col" style="text-align: center; color: white; font-size: 22px;">
                            @Html.LabelFor(m => m.entreprise.prenom_de_l_ayant_droit)
                            @Html.TextBoxFor(m => m.entreprise.prenom_de_l_ayant_droit)
                            @Html.ValidationMessageFor(m => m.entreprise.prenom_de_l_ayant_droit)
                        </div>
                        <div class="col" style="text-align: center; color: white; font-size: 22px;">
                            @Html.LabelFor(m => m.adresse_mailUE)
                            @Html.TextBoxFor(m => m.adresse_mailUE)
                            @Html.ValidationMessageFor(m => m.adresse_mailUE)
                        </div>
                        <div class="col" style="text-align: center; color: white; font-size: 22px;">
                            @Html.LabelFor(m => m.mot_de_passeUE)
                            @Html.PasswordFor(m => m.adresse_mailUE)
                            @Html.ValidationMessageFor(m => m.adresse_mailUE)
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="text-align: center; color: #FFC107; font-size: 22px;">
                        Où êtes-vous ?
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="row accordion-body">
                        <div class="col" style="text-align: center; color: white; font-size: 22px;">
                            @Html.LabelFor(m => m.entreprise.numero)
                            @Html.TextBoxFor(m => m.entreprise.numero)
                            @Html.ValidationMessageFor(m => m.entreprise.numero)
                        </div>
                        <div class="col" style="text-align: center; color: white; font-size: 22px;">
                            @Html.LabelFor(m => m.entreprise.adresse)
                            @Html.TextBoxFor(m => m.entreprise.adresse)
                            @Html.ValidationMessageFor(m => m.entreprise.adresse)
                        </div>
                        <div class="col" style="text-align: center; color: white; font-size: 22px;">
                            @Html.LabelFor(m => m.entreprise.ville)
                            @Html.TextBoxFor(m => m.entreprise.ville)
                            @Html.ValidationMessageFor(m => m.entreprise.ville)
                        </div>
                        <div class="col" style="text-align: center; color: white; font-size: 22px;">
                            @Html.LabelFor(m => m.entreprise.code_postale)
                            @Html.TextBoxFor(m => m.entreprise.code_postale)
                            @Html.ValidationMessageFor(m => m.entreprise.code_postale)
                        </div>
                        <div class="col" style="text-align: center; color: white; font-size: 22px;">
                            @Html.LabelFor(m => m.entreprise.pays)
                            @Html.TextBoxFor(m => m.entreprise.pays)
                            @Html.ValidationMessageFor(m => m.entreprise.pays)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-warning my-4 w-100" type="submit" style="color: white; font-size: 22px">C'est dans la boîte !</button>
    }
</div>