@model Art_fundingV0.Models.utilisateurentreprise
@{
    Layout = "~/Views/Shared/LayoutAF.cshtml";
}

    <div class="container-fluid">
        <h1 id="etape1"> Première étape, ne lâchez pas il y en a 2 autres... </h1>
    </div>

    <div>
        @using (Html.BeginForm())
        {

            <div class="container-fluid" style="margin-bottom: 3em;">
                <div class="row" style="margin-top: 24em;">
                    <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                        @Html.LabelFor(m => m.entreprise.denomination_Commerciale)
                    </div>

                    <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                        @Html.TextBoxFor(m => m.entreprise.denomination_Commerciale)
                    </div>

                    <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                        @Html.LabelFor(m => m.entreprise.nom_de_l_ayant_droit)
                    </div>

                    <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                        @Html.TextBoxFor(m => m.entreprise.nom_de_l_ayant_droit)
                    </div>

                    <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                        @Html.LabelFor(m => m.entreprise.adresse)
                    </div>

                    <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                        @Html.TextBoxFor(m => m.entreprise.adresse)
                    </div>
                </div>
            </div>

            <div class="container-fluid" style="margin-bottom: 3em;">
                <div class="row">
                    <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                        @Html.LabelFor(m => m.entreprise.raison_Sociale)
                    </div>

                    <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                        @Html.TextBoxFor(m => m.entreprise.raison_Sociale)
                    </div>

                    <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                        @Html.LabelFor(m => m.entreprise.prenom_de_l_ayant_droit)
                    </div>

                    <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                        @Html.TextBoxFor(m => m.entreprise.prenom_de_l_ayant_droit)
                    </div>

                    <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                        @Html.LabelFor(m => m.entreprise.code_postale)
                    </div>

                    <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                        @Html.TextBoxFor(m => m.entreprise.code_postale)
                    </div>
                </div>
            </div>

            <div class="container-fluid" style="margin-bottom: 3em;">
                <div class="row">
                    <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                        @Html.LabelFor(m => m.entreprise.SIRET)
                    </div>

                    <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                        @Html.TextBoxFor(m => m.entreprise.SIRET)
                    </div>

                    <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                        @Html.LabelFor(m => m.entreprise.fonction_au_sein_de_l_entreprise)
                    </div>

                    <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                        @Html.TextBoxFor(m => m.entreprise.fonction_au_sein_de_l_entreprise)
                    </div>

                    <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                        @Html.LabelFor(m => m.entreprise.numero)
                    </div>

                    <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                        @Html.TextBoxFor(m => m.entreprise.numero)
                    </div>
                </div>
            </div>

            <div class="container-fluid" style="margin-bottom: 2em;">
                <div class="row">
                    <div class="col" style="text-align: center;">
                        @Html.LabelFor(m => m.entreprise.ville)
                    </div>

                    <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                        @Html.TextBoxFor(m => m.entreprise.ville)
                    </div>
                    
                    <div class="col" style="text-align: center;">
                        @Html.LabelFor(m => m.entreprise.pays)
                    </div>

                    <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                        @Html.TextBoxFor(m => m.entreprise.pays)
                    </div>
                </div>
            </div>


                <div class="container-fluid" style="margin-bottom: 3em;">
                    <div class="row">
                        <div class="col" style="margin-right: 0.5em; margin-left: 0.5em; text-align: center;">
                            @Html.LabelFor(m => m.entreprise.adresse_email)
                        </div>

                        <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                            @Html.TextBoxFor(m => m.entreprise.adresse_email)
                        </div>

                        <div class="col" style="margin-right: 0.5em; margin-left: 0.5em; text-align: center;">
                            @Html.LabelFor(m => m.mot_de_passeUE)
                        </div>

                        <div class="col" style="margin-right: 0.5em; margin-left: 0.5em;">
                            @Html.TextBoxFor(m => m.mot_de_passeUE)
                        </div>
                    </div>
                </div>

                    <div class="container-fluid" style="margin-bottom: 3em;">
                        <div class="row">
                            <div class="col" style="margin-right: 0.5em; margin-left: 0.5em; text-align: center;">
                                <button class="btn btn-danger" onclick="javascript: history.go(-1);" value="Abandonner" id="abandonner">Abandonner</button>
                            </div>
                            <div class="col" style="margin-right: 0.5em; margin-left: 0.5em; text-align: center;">
                                <button class="btn btn-info" type="submit" id="etapesuivante">Passez à l'étape suivante</button>
                            </div>
                            
                        </div>
                    </div>


              
            }

                            