@model Art_fundingV0.Models.utilisateurentreprise
@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta name="viewport" content="width=device-width" />
    @*<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />*@
    <title>Inscription</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
        <ul>
            <li>
                @Html.LabelFor(m => m.entreprise.denomination_Commerciale)
                @Html.TextBoxFor(m => m.entreprise.denomination_Commerciale)

                @Html.LabelFor(m => m.entreprise.raison_Sociale)
                @Html.TextBoxFor(m => m.entreprise.raison_Sociale)
            </li>
            <li>
                @Html.LabelFor(m => m.entreprise.SIRET)
                @Html.TextBoxFor(m => m.entreprise.SIRET)

                @Html.LabelFor(m => m.entreprise.prenom_de_l_ayant_droit)
                @Html.TextBoxFor(m => m.entreprise.prenom_de_l_ayant_droit)
            </li>
            <li>
                @Html.LabelFor(m => m.entreprise.nom_de_l_ayant_droit)
                @Html.TextBoxFor(m => m.entreprise.nom_de_l_ayant_droit)

                @Html.LabelFor(m => m.entreprise.fonction_au_sein_de_l_entreprise)
                @Html.TextBoxFor(m => m.entreprise.fonction_au_sein_de_l_entreprise)
            </li>
            <li>
                <p>
                    @Html.LabelFor(m => m.entreprise.adresse)
                    @Html.TextBoxFor(m => m.entreprise.adresse)
                </p>
                @Html.LabelFor(m => m.entreprise.code_postale)
                @Html.TextBoxFor(m => m.entreprise.code_postale)

                @Html.LabelFor(m => m.entreprise.ville)
                @Html.TextBoxFor(m => m.entreprise.ville)

                @Html.LabelFor(m => m.entreprise.pays)
                @Html.TextBoxFor(m => m.entreprise.pays)
            </li>
            <li>
                @Html.LabelFor(m => m.adresse_mailUE)
                @Html.TextBoxFor(m => m.adresse_mailUE)

                @Html.LabelFor(m => m.entreprise.numero)
                @Html.TextBoxFor(m => m.entreprise.numero)
            </li>
            <li>
                @Html.LabelFor(m => m.mot_de_passeUE)
                @Html.TextBoxFor(m => m.mot_de_passeUE)


            </li>
        </ul>
            <input name="envoyer" type="submit">
        }
    </div>



</body>
</html>
