@model Art_fundingV0.ViewModels.LoginViewModel
@{
    Layout = null;
}
@if (Model.LoggedIn)
{
<h3>
    Vous êtes déjà authentifié avec le loginE :
    @Model.adress_mail
    votre inscription n'est pas finalisé
    Etapes manquants:
    <a href="/userEntreprise/envoyerdossiers">Fournir les piéce d'identite</a><br />
    @*<a href="/userEntreprise/Index">Se connecter en tant qu'artiste</a>*@
</h3>
    @Html.ActionLink("Voulez-vous vous déconnecter ?", "Deconnexion")

}
else
{
    <p>
        Veuillez vous authentifier :
    </p>
    using (Html.BeginForm())
    {
        <div>
           
            @Html.LabelFor(m => m.adress_mail)
           
           @Html.TextBoxFor(m => m.adress_mail)
            @Html.ValidationMessageFor(m => m.adress_mail)
        </div>
        <div>
            @Html.LabelFor(m => m.mot_de_passe)
            @Html.PasswordFor(m => m.mot_de_passe)
            @Html.ValidationMessageFor(m => m.mot_de_passe)
        </div>
        <input type="submit" value="Se connecter" />
        <br />
        @Html.ActionLink("Créer un compte", "CreerCompte")
    }
}
