@model Art_fundingV0.ViewModels.LoginViewModel
@{
    Layout = "~/Views/Shared/LayoutConnexionEntreprise.cshtml";
}

   
    @using (Html.BeginForm())
    {
        <div class="container-sm" style="margin-top: 24%; text-align: center;">
            <div class="row my-4" style="margin-left: 400px; color: white; font-size: 25px;">
                <div class="col-2">           
                   @Html.LabelFor(m => m.adress_mail)
                </div>
                <div class="col-4">
                    @Html.TextBoxFor(m => m.adress_mail)
                    @Html.ValidationMessageFor(m => m.adress_mail)
                </div>
            </div>
            <div class="row my-4" style="margin-left: 400px; color: white; font-size: 25px;"> 
                <div class="col-2"> 
                    @Html.LabelFor(m => m.mot_de_passe)
                </div>
                <div class="col-4">
                    @Html.PasswordFor(m => m.mot_de_passe)
                    @Html.ValidationMessageFor(m => m.mot_de_passe)
                </div>
            </div>
            <div class="row">
                <div class="col-12 my-3"> 
                    <button class="btn btn-success" type="submit" style=" color: white; font-size: 25px;">Je me connecte</button>
                </div>
                <div class="col-12 my-3"> 
                    <button class="btn btn-danger" style=" color: white; font-size: 25px;"> @Html.ActionLink("Je crée mon compte", "CreerCompte")</button>
                </div>
            </div>
        </div>
    }


