@model  Art_fundingV0.ViewModels.CreerEntrepriseViewModel
@{
    Layout = "~/Views/Shared/LayoutAF.cshtml";
}

    @using (Html.BeginForm())
    {
        <div>

            @Html.LabelFor(m => m.utilisateurentreprise.Nocartebancaire)

            @Html.TextBoxFor(m => m.utilisateurentreprise.Nocartebancaire)
            @Html.ValidationMessageFor(m => m.utilisateurentreprise.Nocartebancaire)
        </div>
        <div>
            @Html.LabelFor(m => m.SelectedMoisIds)
            @Html.ListBoxFor(model => model.SelectedMoisIds, Model.MoisList)
          
        </div>
        <div>
            @Html.LabelFor(m => m.SelectedAnneeIds)
            @Html.ListBoxFor(model => model.SelectedAnneeIds, Model.AnneeList)
            
        </div>
        <div>
            @Html.LabelFor(m => m.utilisateurentreprise.CodeVerfication)
            @Html.TextBoxFor(m => m.utilisateurentreprise.CodeVerfication)
            @Html.ValidationMessageFor(m => m.utilisateurentreprise.CodeVerfication)
        </div>
        <input name="envoyer" type="submit">
        <input type="button" onclick="javascript: history.go(-1);" value="Abandonner" />
        <br />
    }
