@model Art_fundingV0.Models.document_entreprise
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TelechargerDocs</title>
</head>
<body>
    <div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @using (Html.BeginForm("TelechargerDocs", "UploadFiles", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>pdf</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Attestation_assurance, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.LabelFor(model => model.Kbis, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.LabelFor(model => model.RIB, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.LabelFor(model => model.Dernier_statut, htmlAttributes: new { @class = "control-label col-md-2" })

                <div class="col-md-10">
                    <input name="file" type="file"><br />
                    <input name="file2" type="file"><br />
                    <input name="file3" type="file"><br />
                    <input name="file4" type="file"><br />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                    @*<input type="submit" value="Create" class="btn btn-default" />*@
                </div>
            </div>
        </div>
    }
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>