@model Art_fundingV0.Models.document_entreprise
@{
    Layout = "~/Views/Shared/LayoutTelechargerDocs.cshtml";
}
<div class="container-sm" style="margin-top: 7%; margin-left: 10%;">
    @using (Html.BeginForm("TelechargerDocs", "UploadFiles", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div>
            <div class="row my-5">
                <div class="col-4">
                    @Html.LabelFor(model => model.Attestation_assurance, htmlAttributes: new { @style = "font-size: 25px; color: white;" })
                </div>
                <div class="col-8">
                    <input style="color:white;" name="file" type="file">
                </div>
            </div>
            <div class="row my-5">
                <div class="col-4">
                    @Html.LabelFor(model => model.Kbis, htmlAttributes: new { @style = "font-size: 25px; color: white;" })
                </div>
                <div class="col-8">
                    <input style="color:white;" name="file2" type="file">
                </div>
            </div>
            <div class="row my-5">
                <div class="col-4">
                    @Html.LabelFor(model => model.RIB, htmlAttributes: new { @style = "font-size: 25px; font-family: Arial; color: white;" })
                </div>
                <div class="col-8">
                    <input style="color:white;" name="file3" type="file">
                </div>
            </div>
            <div class="row my-5">
                <div class="col-4">
                    @Html.LabelFor(model => model.Dernier_statut, htmlAttributes: new { @style = "font-size: 25px; color: white;" })
                </div>
                <div class="col-8">
                    <input style="color:white;" name="file4" type="file">
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-4">
                <button class="btn btn-danger" style="font-size: 22px;">@Html.ActionLink("Retour", "Index")</button>
            </div>
            <div class="col-8">
                <button type="submit" class="btn btn-success" style="font-size: 22px;">Valider</button>
            </div>
        </div>
    }
</div>
@*<div class="form-horizontal" style="margin-top: 250px;">
        <p style="background-color: black; opacity: 0.8; color: white; margin-top: 240px; margin-left: 18%; font-size: 1em; font-family: 'Lucida Console', sans-serif;">
            "L'écriture est la peinture de la voix." disait Voltaire. C'est la raison pour laquelle chez <span style="font-family: 'HYPED_Font', sans-serif;" id="art_f"> Art_F </span> nous vous faisons &eacute;crire avant de vous
        </p>
        <p style="background-color: black; opacity: 0.8; color: white; margin-top: 5px; margin-left: 18%; font-size: 1em; font-family: 'Lucida Console', sans-serif;">
             proposer nos artistes et vous donner la parole. <br />
        </p>
        <p style="margin-top: 25px; margin-left: 18%; font-size: 1.2em; font-family: 'Lucida Console', sans-serif;">
            Ceci dit, rassurez-vous il ne reste qu'une &eacute;tape :)
        </p>
    </div>*@