@model Art_fundingV0.ViewModels.RechercheArtisteViewModel
@{
    Layout = "~/Views/Shared/LayoutRechercheArtiste.cshtml";
}

<style>
    .card-fixed-height {
        max-height: 450px;
        min-height: 200px;
        height: 450px;
    }

    .image-fixed-center {
        height: 100px;
        margin: 10px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
</style>

<div>
    <h1> "Si vous croyez en un projet, vous devez le soutenir",<br/> dixit Vin Diesel.</h1>
    <br />
    <div class="container">
        <div class="row">
            @foreach (var artiste in Model.listArtiste)
            {
                <div class="col-3">
                    <div class="card m-1 card-fixed-height">
                        <!--img src="~/Content/images/Art Otter.png" class="card-img" alt="ImageArtiste">-->
                        <div class="card-body">
                            <div>


                                @*@foreach (var photo in artiste.photos)
                                    {*@
                                <!--img src="/BoiteArtiste/getPhoto?idPhoto=photo.idphoto" />-->

                                <h5 class="card-title">@artiste.nom @artiste.prenom</h5><br />
                                <h5 class="card-title"> @artiste.categorie.nom</h5>
                                <p class="card-text">@artiste.Disponibilite.Value.ToString("MM/dd/yyyy")</p>
                                <p>@artiste.description</p>
                                <a href="/BoiteArtiste/Portfoliu?idArtiste=@artiste.idartiste" class="btn btn-success stretched-link" style="font-size: 16px;">J'explore</a>
                                @if (@artiste.photos.Count() > 0)
                                {

                                    <br /><img class="image-fixed-center" src="/BoiteArtiste/getPhoto?idPhoto=@artiste.photos.FirstOrDefault().idphoto" alt="Image de l'Artiste" />

                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

